.cont3 {
  height: 984px;
}
.cont3 .titr .row .titr1 {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 128px;
}
.cont3 .titr .row .titr1 h2 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.cont3 .titr .row .titr1 a {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  text-decoration: none;
}
.cont3 .product .row .pic {
  height: 600px;
  margin-top: 64px;
}
.cont3 .product .row .pic .row .left {
  height: 600px;
}
.cont3 .product .row .pic .row .right {
  height: 600px;
  margin-left: 32px;
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
}
.cont3 .product .row .pic .row .left img {
  max-width: 100%;
  object-fit: cover;
}

.cont3 .product .row .pic .row .right .child:nth-of-type(1) {
  height: 284px;
}
.cont3 .product .row .pic .row .right .child:nth-of-type(2) {
  height: 284px;
}
.cont3 .product .row .pic .row .right .child img {
  max-width: 100%;
}
